@model Car_Rent.Models.Role

@{
    ViewData["Title"] = "Role Details";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">Role Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Role Name</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.RoleName)</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.RoleId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
    </div>
</div>
