<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header flex items-center py-4 px-6 h-header-height">
            <a asp-action="Index" asp-controller="Admin" style="color: white" class="b-brand flex items-center gap-3">
                <!-- ========   Change your logo from here   ============ -->
                @* <img src="~/Admin/dist/assets/images/logo-white.svg" class="img-fluid logo logo-lg" alt="logo" /> *@
                Admin Dashboard

                @* <img src="~/Admin/dist/assets/images/favicon.svg" class="img-fluid logo logo-sm" alt="logo" /> *@
            </a>
        </div>
        <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Navigation</label>
                </li>
                <li class="pc-item">
                <li class="pc-item">
                    <a asp-action="Index" asp-controller="Admin" class="pc-link">
                        <span class="pc-micon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="pc-item pc-caption">
                    <label>Common</label>
                    <i data-feather="feather"></i>
                </li>
                <li class="pc-item pc-hasmenu"> 
                    <a asp-controller="Reservation" asp-action="Index" class="pc-link">
                        <span class="pc-micon"> <i data-feather="edit"></i></span>
                        <span class="pc-mtext">Reservations</span>
                    </a>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a asp-controller="Car" asp-action="AdminIndex" class="pc-link">
                        <span class="pc-micon"> <i data-feather="type"></i></span>
                        <span class="pc-mtext">Cars</span>
                    </a>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a asp-controller="Category" asp-action="Index" class="pc-link">
                        <span class="pc-micon"> <i data-feather="feather"></i></span>
                        <span class="pc-mtext">Categories</span>
                    </a>
                </li>

                <li class="pc-item pc-caption">
                    <label>Marketing</label>
                    <i data-feather="monitor"></i>
                </li>
                <li class="pc-item">
                    <a asp-action="Index" asp-controller="Role" class="pc-link">
                        <span class="pc-micon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="pc-mtext">Roles</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-action="Index" asp-controller="User" class="pc-link">
                        <span class="pc-micon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="pc-mtext">User</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-action="AdminIndex" asp-controller="Blog" class="pc-link">
                        <span class="pc-micon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="pc-mtext">Blogs</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-action="Index" asp-controller="Comment" class="pc-link">
                        <span class="pc-micon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="pc-mtext">Comments</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-action="Index" asp-controller="Review" class="pc-link">
                        <span class="pc-micon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="pc-mtext">Reviews</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-action="Index" asp-controller="Payment" class="pc-link">
                        <span class="pc-micon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="pc-mtext">Payment</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a asp-action="AdminIndex" asp-controller="Contact" class="pc-link">
                        <span class="pc-micon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="pc-mtext">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>