@using Car_Rent.ViewModels.Auth
@model ForgotPasswordRequest
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/Login/LoginLayout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
     <script>alert('@TempData["ErrorMessage"]');</script>
}
@if (TempData["SuccessMessage"] != null)
{
     <script>alert('@TempData["SuccessMessage"]');</script>
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('~/Login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form asp-action="ForgotPassword" method="post" class="login100-form validate-form">
                @Html.AntiForgeryToken()
                <span class="login100-form-title p-b-49">Forgot Password</span>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Email</span>
                    <input class="input100" asp-for="Email" placeholder="Type your email" />
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">Send OTP</button>
                    </div>
                </div>
                <div class="text-center p-t-8 p-b-31"><a asp-action="Index">Back to Login</a></div>
            </form> 
        </div>
    </div>
</div>
