@using Car_Rent.ViewModels.Auth
@model ResetPasswordRequest
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/Login/LoginLayout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
     <script>alert('@TempData["ErrorMessage"]');</script>
}
@if (TempData["SuccessMessage"] != null)
{
     <script>alert('@TempData["SuccessMessage"]');</script>
}

<form asp-action="ResetPassword" method="post" class="login100-form validate-form">
    @Html.AntiForgeryToken()
    <span class="login100-form-title p-b-49">New Password</span>
    <div class="wrap-input100 m-b-23">
        <span class="label-input100">New password</span>
        <input class="input100" asp-for="NewPassword" type="password" placeholder="Enter new password" />
    </div>
    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Confirm new password</span>
        <input class="input100" asp-for="ConfirmPassword" type="password" placeholder="Re-enter new password" />
    </div>
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">Update Password</button>
        </div>
    </div>
    <div class="text-center p-t-8 p-b-31"><a asp-action="Index">Back to Login</a></div>
</form>
