@model Car_Rent.Models.Reservation
@{
    ViewData["Title"] = "Create Reservation";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<h2>Create Reservation</h2>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="UserId" class="form-label"></label>
        <select asp-for="UserId" class="form-select" asp-items="ViewBag.UserId"></select>
    </div>

    <div class="mb-3">
        <label asp-for="CarId" class="form-label"></label>
        <select asp-for="CarId" class="form-select" asp-items="ViewBag.CarId"></select>
    </div>

    <div class="mb-3">
        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EndDate" class="form-label"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="form-label"></label>
        <select asp-for="Status" class="form-select">
            <option value="Confirmed">Confirmed</option>
            <option value="Cancelled">Cancelled</option>
            <option value="Completed">Completed</option>
            <option value="Rejected">Rejected</option>
            <option value="InProgress">InProgress</option>

        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TotalPrice" class="form-label"></label>
        <input asp-for="TotalPrice" class="form-control" />
        <span asp-validation-for="TotalPrice" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
