@model Car_Rent.Models.Blog

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2>Create Blog</h2>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Content" class="form-label"></label>
            <textarea asp-for="Content" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Status" class="form-label"></label>
            <select asp-for="Status" class="form-select">
                <option value="Draft">Draft</option>
                <option value="Published">Published</option>
                <option value="Archived">Archived</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="AuthorId" class="form-label"></label>
            <select asp-for="AuthorId" class="form-select"  asp-items="ViewBag.AuthorId"></select>
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Create</button>
        <a asp-action="AdminIndex" class="btn btn-secondary ms-2">Back to List</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}